<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6154358897-2ll8fvqjv5fr74cfbritnpspnscufuq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6154358897-2ll8fvqjv5fr74cfbritnpspnscufuq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAu4XiBitT5TorVzuS4Sr25HLGfl_oWknI</string>
	<key>GCM_SENDER_ID</key>
	<string>6154358897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactnativelab.Splash</string>
	<key>PROJECT_ID</key>
	<string>splash-f213d</string>
	<key>STORAGE_BUCKET</key>
	<string>splash-f213d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6154358897:ios:518f01e5ee478110d6cbd0</string>
</dict>
</plist>